@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

header {
    background-color: #0C4A60;
}

.top-wrap {
    padding: 10px 10px;
}

.logo-wrap {
    width: 10%;
    text-align: center;
}

.logo-wrap a {
    vertical-align: middle;
    line-height: 1.1;
}

.menu-wrap {
    width: 80%;
    text-align: center;
}

.menu-icon-wrap {
    width: 8%;
    text-align: center;
}

.icon a{
    line-height: 55px;
    vertical-align: middle;
}

.icon>.admin-icon {
    margin-left: 15px;
    margin-right: 15px;
}

#topMenu {
    width: 100%;
    height: 55px;
    position: relative;
}

#topMenu ul {
    margin: 0px;
    padding: 0px;
}

#topMenu ul li {
    float: right;
    line-height: 55px;
    vertical-align: middle;
    text-align: center;
}

.menuLink,
.submenuLink {
    display: block;
    width: 150px;
}

.submenuLink {
    background-color: rgba(219, 228, 232, 0.8);
    font-size: 14px;
}

.subMenu {
    position: absolute;
    height: 0px;
    visibility: hidden;
    transition: height .2s;
    right: 0;
}

.subMenu2 {
    position: absolute;
    height: 0px;
    visibility: hidden;
    transition: height .2s;
}

.subMenu li,
.subMenu2 li {
    display: inline-block;
}

.topMenuLi:hover .subMenu,
.topMenuLi:hover .subMenu2 {
    visibility: visible;
    height: auto;
}

/*******main********/
.middle {
    margin: 10px 10px;
    background-color: #F5F6F7;
}

.calendar-wrap,
.notice-wrap {
    width: 40%;
}

.sale-wrap,
.notice-wrap,
.stock-wrap,
.calendar-wrap {
    border: 1px solid #0C4A60;
}

.sale-wrap,
.stock-wrap {
    width: 59.5%;
}

.calendar-wrap,
.stock-wrap {
    margin-top: 10px;
}

.middle tr:first-child,
.middle table tr:hover {
    background-color: rgba(219, 228, 232, 0.8);
}

/*******calendar********/
#calendar {
    height: 410px;
    box-sizing: border-box;
}

.calendar__day {
    display: inline-block;
    vertical-align: bottom;
    width: calc(97% / 7);
    height: calc(98% / 5);
    box-sizing: border-box;
    text-align: center;
}

.horizontalGutter {
    margin-right: 0.5%;
}

.verticalGutter {
    margin-top: 0.5%;
}