@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F5F6F7;
}

a {
    text-decoration: none;
    color: #333333;
    font-family: 'Noto Sans KR', sans-serif;
}

input,
button,
hr {
    border: 0;
    outline: 0;
    vertical-align: top;
    cursor: pointer;
}

ul li,
ul ul li {
    list-style-type: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

img {
    display: block;
}

/* table td {
    padding-left: 10px;
    padding-right: 10px;
} */