@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.top {
    display: flex;
    padding: 10px 10px;
    height: 150px;
    justify-content: space-between;
}

.logo {
    width: 10%;
}

.logo>img {
    display: inline-block;
    width: 100%;
    height: 90%;
    padding-left: 10px;
}

.title-top {
    width: 90%;
}

.clearfix {
    clear: both;
}

.auth div {
    text-align: right;
}

.pic-wrap .user i {
    width: 50px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
    color: #0b409c;
    cursor: pointer;
}

.menu-top {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-size: 25px;

}

.menu-top a {
    color: #0b409c;
}

ul,
.menu-title ul {
    display: flex;
    justify-content: space-between;

}

.menu-title {
    padding-right: 20px;
    justify-content: center;
    font-weight: 700;

}

.menu-sub {
    width: 150px;
    font-size: 20px;
    visibility: hidden;
}

ul li:hover .menu-sub {
    visibility: visible;
}

ul li:hover .menu-title {
    border-bottom: solid 1px #005b9e;
}

/***************관리자 작은 페이지(로그아웃, 권한주기 용)***************/
.dropbtn {
    background-color: transparent;
    color: #005b9e;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    border: solid 1px #e7e7e7;
    background-color: #f9f9f9;
    min-width: 330px;
    height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content .ad-top {
    position: relative;
    height: 20%;
    background-color: #005b9e;
    text-align: center;

}

.ad-top i {
    margin-top: 30px;
    font-size: 60px;
    color: #f1f1f1;
}

.ad-name {
    margin: 10px 10px;
    font-size: 20px;
}

.ad-name .ad-admin,
.ad-name .ad-authChange-top {
    text-align: center;
}

.ad-name .ad-authChange-top {
    margin-top: 15px;
}

.ad-authChange {
    margin: 15px 10px;
    height: 200px;
    border: solid 2px #005b9e;
}

.ad-logout {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #005b9e;
}

.ad-logout a {
    height: 30%;
    margin: 10px 10px;
    font-size: 20px;
    color: #f1f1f1;
    text-decoration: none;
}

.show {
    display: block;
}


/***************관리자 작은 페이지(로그아웃, 권한주기 용) 끝 ***************/



/***************main***************/

.middle {
    padding: 20px 20px;
    height: 100vh;
}

.middle h3 {
    height: 50px;
}

.middle i {
    cursor: pointer;
}

.main1,
.main2 {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.main1 div,
.main2 div {
    padding: 10px 10px;
    font-size: 15px;
}

.main1 .sale-tbl {
    width: 49.5%;
    /* border: solid 1px #005b9e;
    background-color: #ffffff; */
    box-shadow: 1px 1px 1px 1px #005b9e;
}

.main1 .commute-tbl {
    width: 28.5%;
    box-shadow: 1px 1px 1px 1px #005b9e;
}

.main1 .map-top {
    width: 20%;
    box-shadow: 1px 1px 1px 1px #005b9e;
}

.sale-top,
.commute-top,
.map,
.calendar,
.notice-top {
    display: flex;
    justify-content: space-between;
}

tr {
    text-align: center;
}

tr:first-child {
    border-top: solid 1px #005b9e;
}

tr:nth-child(2n) {
    background-color: #ebedf1;
}

/* #sale:hover {
    background-color: #ebedf1;
} */


.main2 {
    padding-top: 20px;
}

.main2 .calendar-top,
.main2 .notice-tbl {
    width: 49.5%;
    box-shadow: 1px 1px 1px 1px #005b9e;
}

/***************calendar***************/

#calendar {
    height: 300px;
    box-sizing: border-box;
}

.calendar__day {
    display: inline-block;
    vertical-align: bottom;
    width: calc(97% / 7);
    height: calc(98% / 5);
    box-sizing: border-box;
    text-align: center;
}

.horizontalGutter {
    margin-right: 0.5%;
}

.verticalGutter {
    margin-top: 0.5%;
}

/***************footer***************/

.bottom {
    padding: 30px 20px;
    text-align: right;
}