@charset 'utf-8';

html,
body {
    background-color: #f5f6f7;
    font-family: 'Roboto', sans-serif;
}

.main {
    width: 100%;
    display: block;
    background: #f5f6f7;
}

.content-wrap {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #d6dce7;
    overflow: hidden;
    background: transparent;
    display: flex;
}

.content-left {
    background: #0C4A60;
    color: transparent;
    float: left;
    width: 50%;
    padding: 30px;
}

.main-wrap {
    text-align: center;
    padding: 20px 0 0 0;
    color: #fff;
}

.main-day {
    font-size: 24px;
    font-weight: bold;
}

.main-date {
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
}

.todo-wrap {
    padding: 0 0 0 10px;
    color: #fff;
}

.todo-title {
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
}

.input-box {
    width: 65%;
    margin-right: 20px;
    height: auto;
    background: transparent;
    color: #fff;
    line-height: normal;
    padding: 22px .5em 0 0;
    font-family: inherit;
    border: 0;
    border-bottom: 1px dashed #fff;
    ;
    border-radius: 0;
    outline-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-data {
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background: #fff;
    border: none;
    color: #0b0809;
    border-radius: 10px;
}

.input-data:hover {
    background: #ffffff;
    color: #0b0809;
}

.input-list>div {
    font-size: 14px;
    width: 80%;
    float: left;
    color: #fff;
    padding: 8px;
}

.input-list>.checked {
    color: #FFFFFF;
    text-decoration: line-through
}

.del-data {
    display: block;
    color: #000;
    float: left;
    width: 10%;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    margin-top: 5px;
    background: #fff;
    border: none;
    border-radius: 10px;
}

.content-right {
    float: left;
    width: 90%;
    padding: 10px;
}

.sun {
    color: #ef3333;
}

.sat {
    color: #2107e0;
}

.content-right table tr td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.active {
    background: #0b0809;
    border-radius: 50%;
    color: #ffffff;
}