@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;500;700&display=swap');

.login-box {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    padding: 30px 40px;
    text-align: center;
    background-color: #fff;
}

.login-box h1 {
    font-size: 45px;
    margin-bottom: 50px;
}

.logo-img {
    ;
}

/* 
.login-box h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #2962ff;
} */

form {
    width: 100%;
}

.pos {
    position: relative;
}

.input {
    width: 100%;
    height: 45px;
    font-size: 16px;
    border-bottom: 1px solid #B5CCD4;
    border-radius: 2px;
    padding-left: 35px;
    margin-bottom: 30px;
}

.input:focus {
    border: 1px solid #2962ff;
}

::placeholder {
    color: #8898aa;
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.form-icon>i {
    color: #8898aa;
    vertical-align: top;
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #6699ff;
    /* background-color: #2962ff; */
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1.3px;
}

.forgot {
    float: left;
}

.forgot a {
    color: #8898aa;
}

.account {
    float: right;
}

.account a {
    color: #8898aa;
}

.clearfix {
    clear: both;
}

.register {
    margin-top: 10px;
}